Package: com.yourcompany.tool7
Name: tool7
Depends: 
Version: 0.0.1-10
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: Milo
Author: Milo
Section: System
Tag: role::hacker
Installed-Size: 20
